.body {
    background-image: url("https://giffiles.alphacoders.com/119/119813.gif")
}

.titulo1{
  color: red;
}

.link{
  font-size: 20px;
  margin: 10px;
  bottom: 10px;
  margin-bottom: 10px;
  background-color: red;
  border-radius: 15px;
  padding: 4px;
}

.texto1{
  color: red;
  font-size: 20px;
}

.linha1{
  color: red;
  text-shadow: 1px 1px 0 mediumpurple;
}